body {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

h1,
h2,
h3,
.content-center {
  text-align: center;
}

h1 {
  font-size: 48px;
  color: #800000;
}

h2 {
  font-size: 42px;
  color: #a52a2a;
}

h3 {
  font-size: 36px;
  color: #cd5c5c;
}

h4 {
  font-size: 28px;
  color: #ffa07a;
}

.image {
  text-align: center;
}

.dots-right {
  text-align: right;
}

.university {
  font-style: italic;
  letter-spacing: 15px;
  text-transform: uppercase;
}

/*таблица*/

.table {
  text-align: center;
  background-color: black;
  margin: auto;
}

.table-head {
  font-family: "Playfair Display", serif;
  background-color: #c0c0c0;
}

tbody td,
th {
  background-color: white;
}

tfoot td,
th {
  background-color: white;
}
